@import url(bootstrap);
@import url(bootstrap-icons);

* {
  box-sizing: border-box;
}

:root {
  /* Light mode */
  --primary: #F2ECE4;
  --secondary: #152545;

  --bg: #f8f6f2;
  --text: #152545;
  --toggle-text: #F2ECE4;
}

/* Dark mode */
[theme="dark"] {
  --primary: #152545;
  --secondary: #F2ECE4;

  --bg: #0f1a33;
  --text: #F2ECE4;
  --toggle-text: #152545;
}

/* generics */
body {
  background-color: var(--bg);
  color: var(--text);
}

pre {
  min-height: 100px;
  max-height: 300px;
  background-color: var(--bg);
  padding: 8px;
  border: 1px solid var(--text);
  border-radius: 10px;
  white-space: pre-wrap;
  word-break: break-word;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

/* utils */
.primary {
  background-color: var(--text) !important;
  color: var(--toggle-text) !important;
}

.secondary {
  background-color: var(--toggle-text) !important;
  color: var(--text) !important
}

.btn,
.input,
.select,
.input-project,
.input-snippet,
.textarea-project,
.textarea-snippet {
  padding: 2px 5px;
  border-radius: 5px;
  border: 1px solid var(--text);
  color: var(--text);
  background-color: var(--bg);
}

.divider {
  width: 70%;
  margin: 0 auto 0.5rem auto;
  border: solid 1px var(--text)
}

.divider2 {
  width: 98%;
  margin: 1.5rem 0;
  border: solid 1px var(--text)
}

/* variants */
.btn {
  cursor: pointer;
  transition: all 0.2s ease;
}

.input-project,
.input-snippet,
.textarea-snippet {
  width: 98%;
}

.textarea-snippet {
  min-height: 125px;
}

.btn:hover {
  border-color: transparent;
  transform: translateY(-1px);
  opacity: 0.9;
}

/* Layout */
.app-layout {
  width: 95%;
  min-height: 100vh;
  margin: 2.5%;
  display: flex;
}

.main-area {
  background-color: var(--primary);
  border-radius: 0px 10px 10px 0px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

/* Sidebar */
.sidebar {
  width: 200px;
  background-color: var(--primary);
  border-radius: 10px 0px 0px 10px;
}

#logo {
  font-size: 2.7rem;
}

.nav-link {
  width: 70%;
  color: var(--text);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.nav-link:hover,
.task-item:hover {
  transform: translateY(-2px);
}

.nav-link.active {
  background-color: var(--secondary);
  color: var(--toggle-text);
}

.sidebar i {
  font-size: 1.5rem;
}

/* Header */
header {
  width: 100%;
  background-color: var(--secondary);
  color: var(--toggle-text);
  border-radius: 0px 10px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header-link {
  text-decoration: none;
  color: var(--toggle-text);
  padding: 0.7rem;
  border-radius: 10px;
}

.header-link.active {
  background-color: var(--toggle-text);
  color: var(--secondary);
}

.tema {
  background-color: transparent;
  border: none;
}

.bi-toggle2-on::before,
.bi-toggle2-off::before {
  font-size: 24px;
  color: var(--toggle-text);
  margin-top: 0.4rem;
}

/* dashboard */
.dashboard-cards,
.secondary-features {
  width: 98%;
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.card,
.project-card {
  background-color: var(--bg);
  color: var(--text);
  text-align: center;
  border: 1px solid var(--text);
  border-radius: 10px;
  padding: 1rem;
  flex: 1;
}

.progress-wrapper {
  background-color: var(--bg);
  border: 1px solid var(--text);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

.circular-progress {
  width: 100px;
  height: 100px;
  background: conic-gradient(var(--text) 1.5deg, var(--toggle-text) 0deg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular-progress::before {
  content: "";
  position: absolute;
  width: 65px;
  height: 65px;
  background: var(--bg);
  border-radius: 50%;
}

.percent {
  z-index: 10;
  font-size: 1.5rem;
}

/* projects */
.project-container {
  width: 98%;
  background-color: var(--bg);
  color: var(--text);
  border: 1px solid var(--text);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.project-container a {
  color: var(--text);
  text-decoration: none;
}

.project-stats {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.project-card {
  background-color: var(--toggle-text);
  flex: 0 0 200px;
}

/* tasks */
.task-filters {
  width: 98%;
  margin: 0.5rem 0 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.task-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.task-form input,
.task-form select {
  background-color: var(--primary);
}

.add-task {
  width: 98%;
  background-color: var(--bg);
  border: 1px solid var(--text);
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem 0;
}

.form-project {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-bottom: 1.5rem;
}

.task-item {
  width: 98%;
  background-color: var(--bg);
  color: var(--text);
  padding: 8px 10px;
  margin-top: 10px;
  border: 1px solid var(--text);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.empty-state {
  width: 98%;
  text-align: center;
  padding: 1.5rem;
  opacity: 0.75;
}

/* snippet */
.form-snippet {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
}

.snippet-card {
  width: 98%;
  background-color: var(--primary);
  color: var(--text);
  padding: 1rem 0px 0.5rem;
  border-radius: 10px;
}

.snippet-card-top {
  display: flex;
  justify-content: space-between;
}

/* overlay */
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.overlay-content {
  width: 60%;
  background-color: var(--primary);
  color: var(--text);
  padding: 1.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.close-overlay {
  background-color: transparent;
  color: var(--text);
  border: none;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer
}

/* RESPONSIVE */
@media screen and (max-width: 992px) {

  .app-layout {
    width: 100%;
    margin: 0;
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  #logo {
    font-size: 3rem;
  }

  .nav-link,
  .divider {
    width: 90%;
  }

  .theme {
    justify-content: end;
  }

  .main-area {
    border-radius: 0 0 10px 10px;
  }

  .dashboard-cards,
  .secondary-features {
    flex-wrap: wrap;
  }

  .card,
  .project-card {
    flex: 1 1 45%;
  }

  header {
    width: 98%;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
  }

  .content {
    width: 98%;
    margin: 0 auto;
  }

  .card,
  .project-card {
    flex: 1;
  }
}

@media screen and (max-width: 768px) {

  header {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .header-left {
    width: 100%;
    display: flex;
  }

  .header-left input {
    flex: 1;
  }

  .header-actions {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .header-link {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .theme {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .dashboard-cards,
  .secondary-features {
    flex-direction: column;
  }

  .progress-wrapper {
    padding-top: 1rem;
  }

  .task-filters {
    gap: 1rem;
  }

  .task-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .overlay-content {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {

  .overlay-content {
    width: 95%;
    padding: 1rem;
  }

  pre {
    font-size: 0.8rem;
  }

  .task-filters,
  .task-form {
    flex-direction: column;
  }

  .task-form {
    align-items: flex-start;
    gap: 1rem;
  }

  .task-form>div,
  .task-form input,
  .task-form select,
  .task-filters input,
  .task-filters select {
    width: 100%;
  }
}